# Python
*.pyc
*.pyo
__pycache__/
*.pyd
.Python

# Poetry
.poetry/
.poetry-venv/
*.toml
*.lock

# venv
venv/
ENV/
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
# terraform.tfvars
# *.tfvars

# Teste Unitário
*.coverage
.coverage.*
nosetests.xml
pytest_cache/
*.log

# Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Files de configuração pessoais
.env